

body {background-color: skyblue;}




h2 {color: white; border-color: darkblue; cursor: pointer;}
li {list-style: none; position; display: inline-block; display: inline-block; text-align: right;
}

h1 {color: red; border: 1px color red; position: center; cursor: pointer; text-align:center;border: 1px color red;}

